<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/my-style-dir/style.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
        <title>Registration</title>
        <link rel="shortcut icon" href="/my-images-dir/logo.PNG"/>
    </head>
    <body>
       <h2>Thanks for signing up!</h2>
       <img src="/my-images-dir/logo.PNG" height="300">
       <br><button class="btn" onclick="window.location.href ='/';">Home</button>
    </body>
</html>