<!DOCTYPE html>
<html>
    <head>
<title>Welcome to Otter Care</title>
    </head>
    <body>
        <h1>Home Page</h1>
        <h1>Welcome to Otter Care</h1>
        <button class="btn" onclick="window.location.href ='{{logout_url}}';">Sign Out</button>
    <div>
        <a href="">Home</a>
        <a href="#">Kitchen</a>
        <a href="#">Bathroom</a>
        <a href="#">Gym</a>
        <a href="#">Water Intake</a>
        <a href="#">Settings</a>
        <a href="#">Sign Out</a>
    </div>
        
    </body>
</html>