<!DOCTYPE HTML> 
<html>
    <head>
    
    </head>
    <body>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/">Home</a>
                <a href="#">Bathroom</a>
                <a href="#">Play</a>
                <a href="#">Water Intake</a>
                <a href="/settings">Settings</a>
            </div>
        </div><br>
        {% if otter.food_intake_counter == otter.food_intake %}
        <div>
        You have reached your goal!
        </div>
        {% elif otter.food_intake_counter > otter.food_intake %}
        <div>
        You overfed your otter! Please stop and take them to exercise!
        </div>
        {% else %}
        <div>
        Iʻm hungry! Feed me!
        </div>
        {% endif %}
        <form method = POST action = "/kitchen">
        <input type= "submit" value="feed">
        </form>
    </body>
</html>