<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/my-style-dir/style.css">
        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
        <meta name='viewport' content='width=device-width, initial-scale=1'>
        <script src='https://kit.fontawesome.com/a076d05399.js'></script>
        <title>Login</title>
    </head>
    <body>
        <p>Please log in.</p><br>
        <h1><i class="fas fa-otter" style="font-size:100px"></i> ?</h1>
        <button class="btn" onclick="window.location.href ='{{login_url}}';">Sign in</button>
    </body>
</html>