<html>
<head>
    <link type="text/css" rel="stylesheet" href="/my-style-dir/style.css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>The Well</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="shortcut icon" href="/my-images-dir/logo.PNG"/>
</head>
<body>
        <div class="dropdown">
            <button class="dropbtn">Menu</button>
            <div class="dropdown-content">
                <a href="/kitchen">Kitchen</a>
                <a href="/bathroom">Bathroom</a>
                <a href="/play">Play</a>
            </div>
        </div><br><br>
{% if otter.water_counter == otter.water_num_intake %}
    <div>
        You have reached your goal!
    </div>
{% elif otter.water_counter > otter.water_num_intake %}
    <div>
    I am gonna drown!! Please stop!    
    </div>
{% else %}
    <div>
        Please give me some water!
    </div>
{% endif %}
<form method = POST action = "/water">
        <img src="/my-images-dir/water.png" class="background" height="450"/><br>
        <img src="/my-images-dir/drink.png" class="otter3" width="350"/><br>
    <input type= "submit" class="btn" value="Hydrate">
</form>

</body>
</html>